
.contenedor{
    display: flex;
    flex-direction: column;
}

.header{
    height: 50px;
    background-color: #154360;
}



.usuario{
    position: absolute;
    display: inline-block;
    border: 2px solid var(--color-principal);
    background-color: white;
    height: auto;
    width: 50%;
    top:15px;
    margin-left: 25%;
    text-align: center;
    
}
.usuario .tipo-usuario{
    display: inline-block;
    margin: 4px 30px;
    font-size: 1.6rem;
    color: var(--color-principal);

}
.usuario .tipo-usuarioSeleccionado{
    display: inline-block;
    margin: 4px 30px;
    font-size: 1.6rem;
    color: var(--color-verde);

}

.usuario .tipo-usuario i{
    display: block;
    border: 2px solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding-top: 7px;
    margin-left: 10px;
    font-size: 2.5rem;
}

.usuario .tipo-usuarioSeleccionado i{
    display: block;
    border: 2px solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding-top: 7px;
    margin-left: 10px;
    font-size: 2.5rem;
}


.pasos-viaje{
    display: flex;
    height: 15vh;
    border-bottom: 2px solid var(--color-principal);    
    align-items: flex-end;
    font-size: 1.5rem;    
}



.stepper{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.stepper-item{
    color: var(--color-principal);    
    margin: 10px;
    display: inline-block;
}
.item-div{
    display: inline-block;
    border: 1px solid var(--color-principal); 
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding-left: 5px;
    padding-top: 2px;
    flex-grow: 1;
}

.item-divSeleccionado{
    display: inline-block;
    border: 1px solid var(--color-verde);
    color: var(--color-verde);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding-left: 5px;
    padding-top: 2px;
    flex-grow: 1;
}

.span-step-descripcion{
    padding-left: 10px;
}
@media(min-width:320px){
    .usuario{
        position: absolute;
        display: inline-block;
        border: 2px solid var(--color-principal);
        background-color: white;
        height: auto;
        width: 90%;
        top:10px;
        margin-left: 5%;
        text-align: center;   
    }

    .usuario .tipo-usuario{
        display: inline-block;
        margin: 4px 10px;
        font-size: 1rem;
        color: var(--color-principal);
    }

    .usuario .tipo-usuario i{
        display: block;
        border: 2px solid;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        padding-top: 3px;
        margin-left: 10px;
        font-size: 1.8rem;
    }

    .usuario .tipo-usuarioSeleccionado{
        display: inline-block;
        margin: 4px 10px;
        font-size: 1rem;
        color: var(--color-verde);
    }

    .usuario .tipo-usuarioSeleccionado i{
        display: block;
        border: 2px solid;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        padding-top: 3px;
        margin-left: 10px;
        font-size: 1.8rem;
    }
}