.contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    margin-top: 10px;  
}
.contenedorubicacion{
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    margin-top: 10px;
    
}
.contenedormunicipio{
    display: block;
    width: 100%;
    padding-left: 20px;
}

.contenedormunicipio select{
    border: 0px;
    width: 80%;
    padding: 0 auto ;
}



.contenedorubicacion{
    background-color: #EAFAF1;
}
#ubicacion{
    border: 0px;
    border-bottom: 1px solid var(--color-principal);
    padding-bottom: 10px;
    background-color: #EAFAF1;
}

.label-ubicacion{
    padding: 0 auto ;
}

.label-ubicacion input{
    width: 80%;
}