<div class="contenedor">
    <picture>
        <img class="img-logo" src="../../../assets/Img/logo.png" alt="logo de mi aguila">
    </picture>
    <picture class="pic-user">
        <img class="img-user" src="../../../assets/Img/user.png" alt="imagen de user">
        <figcaption>
            <div class="titulo">Jorge Solano</div>
            <div class="beneficiario">Beneficiario</div>
        </figcaption>
    </picture>
    <div class="division">
        <hr />
    </div>
    <ul class="menu">
        <li class="menu-item">
                <i class="fa fa-car"></i>
                Perdir Aguila
        </li>
        <li class="menu-item">
            <i class="fa fa-map-marker"></i>
            Vuelos
        </li>
        <li class="menu-item">
            <i class="fa fa-map"></i>
            Rutas
        </li>
        <li class="menu-item">
            <i class="fa fa-cog"></i>
            Administrar
        </li>
        <li class="menu-item">
            <i class="fa-list"></i>
            Estadisticas
        </li>
        <li class="menu-item">
            <i class="fa fa-credit-card"></i>
            Medios de pago</li>
        <li class="menu-item">
            <i class="fa fa-sign-out"></i>
            Cerrar sesión
        </li>
    </ul>
</div>